body {
	background: var(--background-color);
	font-family: monospace, courier, "courier new";
   	font-size: 13px;
	color: var(--text-color);
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
    filter: brightness(80%);
}

#title {
	font-size: 1.5em;
	margin: 0.83em 0;
	font-weight: bold;
}

.order_sell {
	background-color: var(--order-sell-background-color);
  	color: var(--order-sell-text-color);
}

.order_buy {
	background-color: var(--order-buy-background-color);
  	color: var(--order-buy-text-color);
}

.right {
    width: 35rem;
}
