.binance {
    background: var(--binance-background-color);
    color: var(--binance-text-color);
}

.kucoin {
    background: var(--kucoin-background-color);
    color: var(--kucoin-text-color);
}

.coinbase {
    background: var(--coinbase-background-color);
    color: var(--coinbase-text-color);
}

.kraken {
    background: var(--kraken-background-color);
    color: var(--kraken-text-color);
}

.okx {
    background: var(--okx-background-color);
    color: var(--okx-text-color);
}
