.binance {
    background: var(--binance-background-color);
    color: var(--binance-text-color);
}

.kucoin {
    background: var(--kucoin-background-color);
    color: var(--kucoin-text-color);
}

.coinbase {
    background: var(--coinbase-background-color);
    color: var(--coinbase-text-color);
}

.kraken {
    background: var(--kraken-background-color);
    color: var(--kraken-text-color);
}

.okx {
    background: var(--okx-background-color);
    color: var(--okx-text-color);
}

.bybit {
    background: var(--bybit-background-color);
    color: var(--bybit-text-color);
}

.bitstamp {
    background: var(--bitstamp-background-color);
    color: var(--bitstamp-text-color);
}

.mexc {
    background: var(--mexc-background-color);
    color: var(--mexc-text-color);
}

.htx {
    background: var(--htx-background-color);
    color: var(--htx-text-color);
}
