:root {
    --background-color: #e0e0e0;
	--text-color: #121416d8;
	--link-color: #543fd7;
    --order-buy-text-color: #fff;
    --order-buy-background-color: green;
    --order-sell-text-color: #fff;
    --order-sell-background-color: red;
    --binance-background-color: #facf3a;
    --binance-text-color: black;
    --kucoin-background-color: #62dba4;
    --kucoin-text-color: black;
    --coinbase-background-color: #1449fc;
    --coinbase-text-color: white;
    --kraken-background-color: #5442d0;
    --kraken-text-color: white;
    --okx-background-color: #36454F;
    --okx-text-color: white;
    --bybit-background-color: white;
    --bybit-text-color: #ffbf00;
}

[data-theme="dark"] {
    --background-color: #212a2e;
	--text-color: #b8b8b8;
	--link-color: #828fff;
    --order-buy-text-color: #b8b8b8;
    --order-buy-background-color: #3a5742;
    --order-sell-text-color: #b8b8b8;
    --order-sell-background-color: #573a3a;
    --binance-background-color: #806a1c;
    --binance-text-color: black;
    --kucoin-background-color: #326b52;
    --kucoin-text-color: #b8b8b8;
    --coinbase-background-color: #132254;
    --coinbase-text-color: #b8b8b8;
    --kraken-background-color: #31267a;
    --kraken-text-color: #b8b8b8;
    --okx-background-color: #36454F;
    --okx-text-color: #b8b8b8;
    --bybit-background-color: #b8b8b8;
    --bybit-text-color: #997300;
}
