{% extends "base.j2" %}
{% block title %}Error{% endblock %}
{% block javascript_default %}{% endblock %}
    <body>
{% block body %}
        <div class="padded-boxes">
            <section>
                <div class="padded">
                    <!-- box 1 content -->
<pre>

<h3>{{ error_message }}</h3>




{% include 'snippets/bottom.j2' %}

</pre>
                </div>
            </section>
        </div>
    </body>
{% endblock %}
