<!doctype html>
<html lang="en">

    <head>
{% include 'snippets/headers.j2' %}
{% include 'snippets/switch.j2' %}
    </head>

    <body>
        <div class="padded-boxes">
            <section>
                <div class="padded">
                    <!-- box 1 content -->
<pre>

<h3>{{ error_message }}</h3>




{% include 'snippets/bottom.j2' %}

</pre>
                </div>
            </section>
        </div>
    </body>

</html>
