<!doctype html>
<html lang="en">

    <head>
{% include 'snippets/headers.j2' %}
{% include 'snippets/switch.j2' %}
        <script>
            const http_history_url = "{{ http_history_url }}";
        </script>
        <script>
            function get_history() {
                $.get(http_history_url).done(function (response) {
                    $("#messages").text(response.rows.join([separator = "\n"]));
                })
            }
            $(document).ready(function() {
                get_history();
                setInterval(get_history, 2000);
            });
        </script>

    </head>

    <body>
        <div class="padded-boxes">
            <section>
                <div class="padded">
                    <!-- box 1 content -->
<pre>
--------------------------------------------------------------------------------------------------------------------------------------------
    <b>DAY    | COIN |        TOTAL VOLUME        |         VOLUME BUYS        |        VOLUME SELLS        | NUM BUY TRADES | NUM SELL TRADES</b> |
--------------------------------------------------------------------------------------------------------------------------------------------
<span id="messages"></span>


* Showing the last {{ num_months }} month's data


{% include 'snippets/bottom.j2' %}

</pre>
                </div>
            </section>
        </div>
    </body>

</html>
