{% extends "base.j2" %}
{% block title %}{{ coin }} octopus{% endblock %}
{% block javascript %}
        <script>
            function setPageTitle(obj) {
                document.title = `{{ coin }} octopus - ${Number(obj.price).toFixed(4)} ${obj.currency}`;
            }
        </script>
{% endblock %}
